<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body ng-app="myApp">
    <div ng-controller="formCtrl">
        <h4>input文本框</h4>
        <form novalidate>
            First Name:<br>
            <input type="text" ng-model="user.firstName"><br>
            Last Name:<br>
            <input type="text" ng-model="user.lastName">
            <br><br>
            <button ng-click="reset()">RESET</button>

            <p>form = {{user}}</p>
            <p>master = {{master}}</p>

            <h4>下拉菜单</h4>
            <div>
                选择一个选项:
                <select ng-model="myVar">
                    <option value="">
                    <option value="dogs">Dogs
                    <option value="tuts">Tutorials
                    <option value="cars">Cars
                </select>
            </div>
            <div ng-switch="myVar">
                <div ng-switch-when="dogs">
                    <h1>Dogs</h1>
                    <p>Welcome to a world of dogs.</p>
                </div>
                <div ng-switch-when="tuts">
                    <h1>Tutorials</h1>
                    <p>Learn from examples.</p>
                </div>
                <div ng-switch-when="cars">
                    <h1>Cars</h1>
                    <p>Read about cars.</p>
                </div>
            </div>

            <h4>单选框</h4>
            <div>
                选择一个选项:
                <input type="radio" ng-model="myVar" value="dogs">Dogs
                <input type="radio" ng-model="myVar" value="tuts">Tutorials
                <input type="radio" ng-model="myVar" value="cars">Cars
            </div>

            <h4>Checkbox（复选框）</h4>
            <div>
                选中复选框，显示标题:
                <input type="checkbox" ng-model="myVar">
                <h1 ng-show="myVar">My Header</h1>
            </div>

            <h4>多行文本</h4>
            <div>
                <textarea ng-model="content"></textarea>
                {{content}}
            </div>
        </form>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('formCtrl', function ($scope) {
            $scope.master = { firstName: "John", lastName: "Doe" };
            $scope.reset = function () {
                $scope.user = angular.copy($scope.master);
            };
            $scope.reset();
        });
    </script>
</body>
</html>
