<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <style>
        .red {
            background: red;
        }

        .green {
            background: green;
        }

        .yellow {
            background: yellow;
        }

        .blue {
            background: blue;
        }
    </style>
</head>
<body ng-app="myApp">
    <p>
        AngularJS 通过被称为 指令 的新属性来扩展 HTML。<br />
        AngularJS 通过内置的指令来为应用添加功能。<br />
        AngularJS 允许你自定义指令。<br />
    </p>
    <div>
        ng-app  指令初始化一个 AngularJS 应用程序。<br />
        ng-bind	 绑定 HTML 元素到应用程序数据<br />
        <pre>
            { { } } 是等页面加载完后，再取值
            ng-bind 它是在页面加载的时候，显不会显示{ {name} }这种变量出来
            使用模块标签{{ }}加载慢或渲染慢时用户将看到标签，而ng-bind不会，但是使用模块要方便。
        </pre>


        ng-init  指令初始化应用程序数据。<br />
        ng-model 指令把元素值（比如输入域的值）绑定到应用程序。<br />
        ng-repeat 指令会重复一个 HTML 元素：<br />

        ng-switch	规定显示或隐藏子元素的条件<br />

        ng-value	规定 input 元素的值<br />

        ng-submit	规定 onsubmit 事件发生时执行的表达式<br />

        ng-if  如果条件为 false 移除 HTML 元素<br />

        <pre>
            ng-if 指令不同于 ng-hide， ng-hide 隐藏元素，而 ng-if 是从 DOM 中移除元素。
    </pre>

        ng-show   显示 HTML 元素<br />
        ng-hide  隐藏 HTML 元素<br />

        ng-class  指定 HTML 元素使用的 CSS 类<br />
        ng-style   指定元素的 style 属性
    </div>
    <div ng-init="firstName='John'">
        <p>
            AngularJS 指令是扩展的 HTML 属性，带有前缀 ng-。<br />
            上面实例中的 {{ firstName }} 表达式是一个 AngularJS 数据绑定表达式。
        </p>


        <p>在输入框中尝试输入：</p>
        <p>姓名：<input type="text" ng-model="firstName"></p>
        <p>你输入的为： {{ firstName }}</p>

    </div>

    <div ng-init="quantity=1;price=5">

        <h2>价格计算器</h2>

        数量： <input type="number" ng-model="quantity">
        价格： <input type="number" ng-model="price">

        <p><b>总价：</b> {{ quantity * price }}</p>

    </div>

    <div ng-init="names=['Jani','Hege','Kai']">
        <h4>使用 ng-repeat 来循环数组</h4>
        <ul>
            <li ng-repeat="x in names">
                {{ x }}
            </li>
        </ul>
    </div>

    <div ng-init="names2=[
{name:'Jani',country:'Norway'},
{name:'Hege',country:'Sweden'},
{name:'Kai',country:'Denmark'}]">

        <p>循环对象：</p>
        <ul>
            <li ng-repeat="x    in names2">
                {{ x.name + ', ' + x.country }}
            </li>
        </ul>

    </div>
    <h4>
        自定义指令
    </h4>

    <div runoob-directive></div>
    <script>
        var app = angular.module("myApp", []);
        app.directive("runoobDirective", function () {
            return {
                restrict: "A",
                template: "<h1>自定义指令!</h1>"
            };
        });
    </script>

    <div>
        <h4>
            ng-switch 指令  不符合条件的会被删除
        </h4>
        <select ng-model="myVar">
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
        </select>

        <div ng-switch="myVar">
            <div ng-switch-when="A">A</div>
            <div ng-switch-when="B">B</div>
            <div ng-switch-when="C">C</div>
            <div ng-switch-when="D">D</div>
        </div>
    </div>

    <div ng-controller="myCtrlForm">

        <h4>
            ng-submit 指令  表单提交事件响应<br />
            ng-focus 指令  得到焦点事件响应<br />
            ng-blur 指令  失去焦点事件响应<br />
            ng-change 指令  文本改变事件响应<br />
        </h4>

        <form ng-submit="submit()" name="myform" ng-init="txtName='Mas'">
            <input ng-minlength="3" ng-maxlength="10" ng-class="{'error':myform.txtName.$invalid}" name="txtName" ng-value="txtName" ng-model="txtName" ng-focus="focus()" ng-blur="blur()" ng-change="change()" />
            {{txtName}}
            <input type="submit" />

        </form>

    </div>

    <script>

        app.controller('myCtrlForm', function ($scope) {

            $scope.submit = function () {
                console.log('表单提交');
            }

            $scope.focus = function () {
                console.log('得到焦点');
            }

            $scope.blur = function () {
                console.log('失去焦点');
            }

            $scope.change = function () {
                console.log($scope.txtName);
            }

        });

    </script>

    <div>
        <h4>
            ng-if  不符合条件会被删除
        </h4>

        <input type="checkbox" ng-model="ckb" />

        <p ng-if="ckb">
            显示
        </p>

    </div>

    <div>
        <h4>
            ng-show   display:block与display:none
        </h4>

        <input type="checkbox" ng-model="ckb2" />

        <p ng-show="ckb2">
            显示
        </p>

        <p ng-hide="ckb2">
            隐藏
        </p>

    </div>

    <div ng-controller="myCtrl">
        <h4>
            ng-class与ng-style<br />
            ng-class是class=''<br />
            ng-style是style=''
        </h4>
        <select ng-model="color">
            <option>red</option>
            <option>blue</option>
            <option>green</option>
            <option>yellow</option>
        </select>
        <p ng-class="color" ng-style="cls1">
            内容
        </p>
    </div>

    <script>

        app.controller('myCtrl', function ($scope) {
            $scope.cls1 = {
                "color": "white",
                //"background-color": "coral",
                "font-size": "60px",
                "padding": "50px"
            }
        });
    </script>


    <div ng-controller="myCtrl">
        <h4>
            ng-minlength与maxlength<br />
            文本长度限制
        </h4>
        <input ng-model="uname" ng-minlength="3" ng-maxlength="10" />
        <p>
            {{uname}}
        </p>
    </div>


    <div ng-controller="myCtrl">
        <h4>
            ng-checked:传入true当前的复选框被选中<br />
        </h4>
        <div>
            <input type="checkbox" ng-model="all"> Check all<br><br>
            <input type="checkbox" ng-checked="all">Volvo<br>
            <input type="checkbox" ng-checked="all">Ford<br>
            <input type="checkbox" ng-checked="all">Mercedes
        </div>
        <p>
            {{all}}
        </p>
    </div>

    <div ng-controller="myCtrl">
        <h4>
            ng-disabled="true/false";
            传入true表示禁用，传入false表示可用；<br />
        </h4>
        <div>
            <form>
                <input />
                <input type="submit" ng-disabled="all" value="提交" />
                <label><input type="checkbox" ng-model="all" />{{all?'启用':'禁用'}}</label><br />
            </form>

        </div>
        <p>
            {{all}}
        </p>
    </div>


</body>
</html>