<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body ng-app="myApp">
    <p>
        AngularJS 控制器 控制 AngularJS 应用程序的数据。
        AngularJS 控制器是常规的 JavaScript 对象。
    </p>
    <div ng-controller="myCtrl">
        <p>
            ng-controller 指令定义了应用程序控制器。<br />
            控制器是 JavaScript 对象，由标准的 JavaScript 对象的构造函数 创建。
        </p>

        名: <input type="text" ng-model="firstName"><br>
        姓: <input type="text" ng-model="lastName"><br>
        <br>
        姓名: {{firstName + " " + lastName}}

    </div>

    <script>
        /*

        AngularJS 应用程序由 ng-app 定义。应用程序在 <div> 内运行。
        ng-controller="myCtrl" 属性是一个 AngularJS 指令。用于定义一个控制器。
        myCtrl 函数是一个 JavaScript 函数。
        AngularJS 使用$scope 对象来调用控制器。
        在 AngularJS 中， $scope 是一个应用对象(属于应用变量和函数)。
        控制器的 $scope （相当于作用域、控制范围）用来保存AngularJS Model(模型)的对象。
        控制器在作用域中创建了两个属性 (firstName 和 lastName)。
        ng-model 指令绑定输入域到控制器的属性（firstName 和 lastName）。

        */
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.firstName = "John";
            $scope.lastName = "Doe";
        });
    </script>


    <div ng-controller="personCtrl">
        <p>控制器也可以有方法（变量和函数）：</p>
        名: <input type="text" ng-model="firstName"><br>
        姓: <input type="text" ng-model="lastName"><br>
        <br>
        姓名: {{fullName()}}

    </div>

    <script>

        app.controller('personCtrl', function ($scope) {
            $scope.firstName = "John";
            $scope.lastName = "Doe";
            $scope.fullName = function () {
                return $scope.firstName + " " + $scope.lastName;
            }
        });
    </script>

    <div ng-controller="personCtrl2">
        <p>
            外部文件中的控制器
        </p>
        First Name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        <br>
        Full Name: {{firstName + " " + lastName}}
    </div>
    <script src="js/personController.js"></script>
</body>
</html>
