<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body ng-app="myApp">
    <p>
        AngularJS 通过被称为 指令 的新属性来扩展 HTML。<br/>
        AngularJS 通过内置的指令来为应用添加功能。<br />
        AngularJS 允许你自定义指令。<br />
    </p>
    <div>
        ng-app 指令初始化一个 AngularJS 应用程序。<br />
        ng-init 指令初始化应用程序数据。<br />
        ng-model 指令把元素值（比如输入域的值）绑定到应用程序。<br />
        ng-repeat 指令会重复一个 HTML 元素：<br />
    </div>
    <div ng-init="firstName='John'">
        <p>
            AngularJS 指令是扩展的 HTML 属性，带有前缀 ng-。<br />
            上面实例中的 {{ firstName }} 表达式是一个 AngularJS 数据绑定表达式。
        </p>


        <p>在输入框中尝试输入：</p>
        <p>姓名：<input type="text" ng-model="firstName"></p>
        <p>你输入的为： {{ firstName }}</p>

    </div>

    <div ng-init="quantity=1;price=5">

        <h2>价格计算器</h2>

        数量： <input type="number" ng-model="quantity">
        价格： <input type="number" ng-model="price">

        <p><b>总价：</b> {{ quantity * price }}</p>

    </div>

    <div ng-init="names=['Jani','Hege','Kai']">
        <p>使用 ng-repeat 来循环数组</p>
        <ul>
            <li ng-repeat="x in names">
                {{ x }}
            </li>
        </ul>
    </div>

    <div ng-init="names2=[
{name:'Jani',country:'Norway'},
{name:'Hege',country:'Sweden'},
{name:'Kai',country:'Denmark'}]">

        <p>循环对象：</p>
        <ul>
            <li ng-repeat="x    in names2">
                {{ x.name + ', ' + x.country }}
            </li>
        </ul>

    </div>

    <div runoob-directive></div>
    <script>
        var app = angular.module("myApp", []);
        app.directive("runoobDirective", function () {
            return {
                restrict: "A",
                template: "<h1>自定义指令!</h1>"
            };
        });
    </script>
</body>
</html>
