<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <h4>双向数据绑定</h4>
        <p>
            你可以用 v-model 指令在表单控件元素上创建双向数据绑定。
        </p>
        <p>
            实例中演示了 input 和 textarea 元素中使用 v-model 实现双向数据绑定：
        </p>
        <p>input 元素：</p>
        <input v-model="message" placeholder="编辑我……">
        <p>消息是: {{ message }}</p>

        <p>textarea 元素：</p>
        <p style="white-space: pre">{{ message2 }}</p>
        <textarea v-model="message2" placeholder="多行文本输入……"></textarea>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                message: 'Runoob',
                message2: '菜鸟教程\r\nhttp://www.runoob.com'
            }
        });
    </script>

    <div id="app2">
        <h4>复选框</h4>
        <p>
            复选框如果是一个为逻辑值，如果是多个则绑定到同一个数组：
        </p>
        <p>单个复选框：</p>
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked?"是":"否" }}</label>

        <p>多个复选框：</p>
        <input type="checkbox" id="runoob" value="Runoob" v-model="checkedNames">
        <label for="runoob">Runoob</label>
        <input type="checkbox" id="google" value="Google" v-model="checkedNames">
        <label for="google">Google</label>
        <input type="checkbox" id="taobao" value="Taobao" v-model="checkedNames">
        <label for="taobao">taobao</label>
        <br>
        <span>选择的值为: {{ checkedNames }}</span>
    </div>

    <script>
        new Vue({
            el: '#app2',
            data: {
                checked: false,
                checkedNames: []
            }
        })
    </script>


    <div id="app3">
        <h4>
            单选按钮
        </h4>
        <p>  以下实例中演示了单选按钮的双向数据绑定：</p>

        <input type="radio" id="runoob2" value="Runoob" v-model="picked">
        <label for="runoob2">Runoob</label>
        <br>
        <input type="radio" id="google2" value="Google" v-model="picked">
        <label for="google2">Google</label>
        <br>
        <span>选中值为: {{ picked }}</span>
    </div>

    <script>
        new Vue({
            el: '#app3',
            data: {
                picked: 'Runoob',
            }
        })
    </script>


    <div id="app4">
        <h4>
            select 列表
        </h4>
        <p> 以下实例中演示了下拉列表的双向数据绑定：</p>
        <select v-model="selected" name="fruit">
            <option value="">选择一个网站</option>
            <option value="www.runoob.com">Runoob</option>
            <option value="www.google.com">Google</option>
        </select>

        <div id="output">
            选择的网站是: {{selected}}
        </div>
    </div>
    <script>
        new Vue({
            el: '#app4',
            data: {
                selected: ''
            }
        })
    </script>

    <div id="app5">
        <h4>修饰符</h4>
        <p>在默认情况下， v-model 在 input 事件中同步输入框的值与数据，但你可以添加一个修饰符 lazy ，从而转变为在 change 事件中同步：</p>
        <p>change是失去焦点才会同步，input是实时同步</p>
        <!-- 在 "change" 而不是 "input" 事件中更新 -->
        <input v-model.lazy="name" /><br />
        {{name}}

        <p>如果想自动将用户的输入值转为 Number 类型（如果原值的转换结果为 NaN 则返回原值），可以添加一个修饰符 number 给 v-model 来处理输入值：</p>

        <input v-model.number="age" type="number" /><br />{{age}}

        <p>如果要自动过滤用户输入的首尾空格，可以添加 trim 修饰符到 v-model 上过滤输入：</p>

        <input v-model.trim="content" /><br />{{content}}
    </div>

    <script>

        new Vue({
            el: '#app5',
            data: {
                name: 'mas',
                age: 24,
                content: ''
            }
        })
    </script>


    <div id="app6">
        <h4>checkbox 全选与取消全选</h4>
        <p>
            全选：
        </p>
        <input type="checkbox" id="checkbox" v-model="checked" @click="changeAllChecked()">
        <label for="checkbox">
            {{checked?"全选":"否"}}
        </label>
        <p>
            多个复选框：
        </p>
        <input type="checkbox" id="runoob3" value="Runoob" v-model="checkedNames">
        <label for="runoob3">
            Runoob
        </label>
        <input type="checkbox" id="google3" value="Google" v-model="checkedNames">
        <label for="google3">
            Google
        </label>
        <input type="checkbox" id="taobao3" value="Taobao" v-model="checkedNames">
        <label for="taobao3">
            taobao
        </label>
        <br>
        <span>
            选择的值为:{{checkedNames}}
        </span>
    </div>
    <script>

        new Vue({
            el: '#app6',
            data: {
                checked: false,
                checkedNames: [],
                checkedArr: ["Runoob", "Taobao", "Google"]
            },
            methods: {
                changeAllChecked: function () {
                    if (this.checked) {
                        this.checkedNames = this.checkedArr
                    } else {
                        this.checkedNames = []
                    }
                }
            },
            watch: {
                "checkedNames": function () {
                    if (this.checkedNames.length == this.checkedArr.length) {
                        this.checked = true
                    } else {
                        this.checked = false
                    }
                }
            }
        })

    </script>
</body>
</html>
