<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
</head>
<body>
    <div id="app">

        <h4>全局组件</h4>
        <p>所有实例都能用全局组件。</p>
        <runoob></runoob>
    </div>


    <script>
        // 注册
        Vue.component('runoob', {
            template: '<h1>全局组件!</h1>'
        })
        // 创建根实例
        new Vue({
            el: '#app'
        })
    </script>



    <div id="app2">

        <h4>
            局部组件
        </h4>
        <p>
            我们也可以在实例选项中注册局部组件，这样组件只能在这个实例中使用：
        </p>

        <runoob></runoob>
    </div>

    <script>
        var Child = {
            template: '<h1>局部组件!</h1>'
        }

        // 创建根实例
        new Vue({
            el: '#app2',
            components: {
                // <runoob> 将只在父模板可用
                'runoob': Child
            }
        })
    </script>


    <div id="app3">
        <h4>
            Prop
        </h4>
        <p>
            prop 是父组件用来传递数据的一个自定义属性。<br />
            父组件的数据需要通过 props 把数据传给子组件，子组件需要显式地用 props 选项声明 "prop"：
        </p>

        <child message="hello!"></child>
    </div>

    <script>
        // 注册
        Vue.component('child', {
            // 声明 props
            props: ['message'],
            // 同样也可以在 vm 实例中像 “this.message” 这样使用
            template: '<span>{{ message }}</span>'
        })
        // 创建根实例
        new Vue({
            el: '#app3'
        })
    </script>


    <div id="app4">

        <h4>
            动态 Prop
        </h4>
        <p>类似于用 v-bind 绑定 HTML 特性到一个表达式，也可以用 v-bind 动态绑定 props 的值到父组件的数据中。每当父组件的数据变化时，该变化也会传导给子组件：</p>
        <div>
            <input v-model="parentMsg">
            <br>
            <child v-bind:message="parentMsg"></child>
        </div>
    </div>


    <script>
        // 注册
        Vue.component('child', {
            // 声明 props
            props: ['message'],
            // 同样也可以在 vm 实例中像 “this.message” 这样使用
            template: '<span>{{ message }}</span>'
        })
        // 创建根实例
        new Vue({
            el: '#app4',
            data: {
                parentMsg: '父组件内容'
            }
        })
    </script>

    <div id="app5">
        <p>
            以下实例中将 v-bind 指令将 todo 传到每一个重复的组件中：<br />
            prop 是单向绑定的：当父组件的属性变化时，将传导给子组件，但是不会反过来。
        </p>
        <ol>
            <todo-item v-for="item in sites" v-bind:todo="item"></todo-item>
        </ol>
    </div>

    <script>
        Vue.component('todo-item', {

            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        });

        new Vue({
            el: '#app5',
            data: {
                sites: [
                 { text: 'Runoob' },
                 { text: 'Google' },
                 { text: 'Taobao' }
                ]
            }
        });
    </script>


    <div id="app6">
        <h4>
            自定义事件
        </h4>
        <p>
            父组件是使用 props 传递数据给子组件，但如果子组件要把数据传递回去，就需要使用自定义事件！<br />
            我们可以使用 v-on 绑定自定义事件, 每个 Vue 实例都实现了事件接口(Events interface)，即：<br />
            使用 $on(eventName) 监听事件<br />
            使用 $emit(eventName) 触发事件<br />
            另外，父组件可以在使用子组件的地方直接用 v-on 来监听子组件触发的事件。<br />
        </p>

        <div id="counter-event-example">
            <p>{{ total }}</p>
            <button-counter v-on:increment="incrementTotal"></button-counter>
            <button-counter v-on:increment="incrementTotal"></button-counter>
        </div>

    </div>


    <script>
        Vue.component('button-counter', {
            template: '<button v-on:click="increment">{{ counter }}</button>',
            data: function () {
                return {
                    counter: 0
                }
            },
            methods: {
                increment: function () {
                    this.counter += 1
                    this.$emit('increment')
                }
            },
        })
        new Vue({
            el: '#counter-event-example',
            data: {
                total: 0
            },
            methods: {
                incrementTotal: function () {
                    this.total += 1
                }
            }
        })
    </script>
</body>
</html>
